@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
    font-family: helvetica;
    margin: auto;
}

.logo {
    margin-left: 150px;
}

.navbar, .dropdown {
    margin-top: -50px;
}

.header-title {
    font-family: times new roman;
    font-style: italic;
    font-weight: bold;
}

.glyphicon-grain {
    color: black;
}

#carousel {
    margin-top: 50px;
}

.carousel-inner {
    margin: auto;
    height: 450px;
    width 100%;
    color: white;
    text-align: center;
}

.img {
    margin: auto;
    height: 500px;
    width: 100%;
}

#first-slide {
    background-color: black;
    height: 500px;
    margin-top: -50px;
}

.second-slide {
    background-color: black;
    height: 500px;
    margin-top: -50px;
}

.third-slide {
    background-color: black;
    height: 500px;
    margin-top: -50px;
}

.title, .title1, .title2 {
    position: absolute;
    width: 425px;
    margin-left: 55%;
    margin-top: 300px;
    font-family: times new roman;
    font-style: italic;
    font-weight: bold;
}

.title1 {
    margin-left: 32%;
    margin-top: 160px;
}

.title2 {
    margin-left: 50px;
    margin-top: 275px;
    width: 400px;
}

.left-col, .middle-col, .right-col {
    text-align: center;
}

ul li {
    display: inline;
    width: 60px;
}
.navbar {
    width: 50%;
}

.navbar-form {
    margin-right: -1%;
}

@media (max-width: 991px) {
    .navbar {
        width: 200px;
    }
}


.image, .pic {
    height: 250px;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.pic:hover {
    background-color: black;
}

.pic:hover img {
    opacity: 0.8;
}

.caption {
    display: none;
    color: white;
    margin-top: -130px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    opacity: 1;
}

.middle-text {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}


@media (max-width: 940px) {
        .title {
            margin-left: 50%;
            margin-top: 30%;
            width: 40%;
        }

        .title1 {
            margin-left: 30%;
            margin-top: 12%;
            width: 40%;
        }

        .title2 {
            margin-left: 5%;
            margin-top: 35%;
            width: 40%;
        }
}

.content {
    text-align: center;
}